# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Mi unidad\GS Desarrollo Aplicaciones Multiplataforma\LENGUAJE DE MARCAS Y SISTEMAS DE GESTION DE INFORMACION\2T\CASO PBL\CasoPBL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
